<li>
	{{burger_name}}

	<button class="change-devoured  m-3 {{#if is_devoured}} btn btn-secondary{{else}}btn btn-primary{{/if}}" data-id="{{id}}" data-devoured="{{is_devoured}}">
		{{#if is_devoured}}Devoured!{{else}}Devour It!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
